// Primary Colors
$cyan: hsl(179, 62%, 43%);
$lightCyan: hsl(179, 62%, 45%);
$brightYellow: hsl(71, 73%, 54%);
$darkYellow: hsl(71, 73%, 48%);

// Neutral Colors
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$fontMed: 1rem;